{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="form-group-lg">
                {% if form %}
                    <div class="row">
                        <h2>Image Classification with Keras</h2>
                        <p>
                            Image Classification using Tensorflow Keras.
                        </p>
                    </div>
                    {{ wtf.quick_form(form) }}
                {% endif %}
     </div>

    {% if file_url %}
    <div class="row">
        <h2>Classification Result</h2>
        <p>
            The uploaded image and the classification results are shown below.
        </p>

        <div class="col-md-4">
                <img src="{{file_url}}" class="img-fluid img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2> Prediction </h2>
            <ul>
                {% for pred in prediction %}
                <li>Prediction Class: {{pred}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    
    <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Go Back</a>
    {% endif %}
{% endblock %}